*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
form{ 
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 1em .5em;
}
form > * {
    margin: 0.3em 0;
}

form label {
    font-size: 1.2em;
    font-weight: bold;
    color:rgba(1, 0, 6, 0.934);
}
input {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form label small{
    color: #868686;
    font-size: 0.8em;
}

form .addExpense{
    width:6.5em;
    font-size: .9em;
    /* padding:.5em; */
    background-color: rgba(1, 0, 6, 0.934) ;
    color:#fff;
    margin: 1em 0;
}

