@font-face {
  font-family: mulish;
  src: url(../public/Mulish-VariableFont_wght.ttf);
}

*{ 
  font-family: mullish;
}
.App {
  text-align: center;
  /* overflow: hidden; */
    /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 0 auto;
  
}


@media only screen and (min-width: 575px) {
  .App {
  width: 375px;
 height: 575px;
 margin-top: 10vh;
 border: solid 3px rgba(1, 0, 6, 0.934);
  border-radius: 10px;
  z-index: 5;
  }
}
